<ion-header>
  <ion-toolbar>
    <ion-title>Preguntas Frecuentes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <h1 class="titulo">FAQ</h1>
  <h4 class="textoRosado">Preguntas Frecuentes</h4>
  <ion-card>
    <ion-card-content>
      <p class="pregunta">¿Cuanto se lleva la aplicación por comisión?</p>
      <hr class="hr">
      <p class="respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam rerum cupiditate sequi rem?</p>

      <p class="pregunta">¿Cuanto se demora la revisión de mis documentos del auto?</p>
      <hr class="hr">
      <p class="respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam rerum cupiditate sequi rem?</p>

      <p class="pregunta">¿En caso de accidentes, que procede?</p>
      <hr class="hr">
      <p class="respuesta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam rerum cupiditate sequi rem?</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>
