<ion-header>
  <ion-toolbar>
    <ion-title>viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <h5 class="titulo">Rutas disponibles</h5>
    <ion-card *ngFor="let r of arregloRutas">
      <ion-card-header>
        <h3>{{r.nombre_usuario}}</h3>
        <hr class="hr">
      </ion-card-header>


      <ion-card-content>
        <p>Auto: {{r.modelo}}</p>
        <p>Patente del auto: {{r.patente}}</p>
        <p>Color auto: {{r.color}}</p>
        <p>Precio: {{r.monto}}</p>
        <p>Origen: {{r.origen}}</p>
        <p>Destino: {{r.destino}}</p>
        <p>Asientos disponibles: {{r.asientos_dispo}}</p>
        <ion-button (click)="verRecorrido(i)" expand="block">Ver recorrido</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>