<ion-header>
  <ion-toolbar>
    <ion-title>crearRuta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <h1>Crear ruta</h1>
  <form [formGroup]="formMapas"  (ngSubmit)="crearRuta()">
    <select  formControlName="vehiculos" (change)="vehiculoSeleccionado($event)">
      <option value="1">Selecciona un vehiculo</option>
      <option *ngFor="let v of arregloVehiculo" [value]="v.patente">
         {{v.modelo}}, Patente: {{v.patente}}
      </option>
    </select>

    <h2>{{this.patenteSeleccionada}}</h2>
   
      <input type="text" #rutaInicio id="rutaInicio" formControlName="ruta1">

      <input type="text" #rutaFin id="rutaFin" formControlName="ruta2">

      <h2 id="distancia"></h2>

    

      <input type="number" id="precio" formControlName="precio">

      <input type="number" id="asientos" formControlName="asientos">

    <button type="submit">Crear ruta</button>

    
  </form>
  <button (click)="calcularRuta()">Calcular ruta</button>
  
  <div class="mapa" #divMap></div>
</ion-content>



